<h1>{{ pageTitle }}</h1>
<div>
  <img [src]="imgUrl" alt = "Image">
</div>
 <div>
  <button (click) = "incrementCount()">Click</button>
  <p>Clicked {{ count }} times</p>
</div>

<div>
  <input #nameRef type = "text" [(ngModel)]="name">
  <p>Welcome {{name}} !</p>
</div>

<div>
  <input type = "text" [ngModel]="userName" (ngModelChange) = "greetRavi($event)">
  <p>Welcome {{userName}} !</p>
</div>

<div>
  <input type = "text" [(ngModel)]="customerName">
  <p>Welcome {{customerName}} !</p>
</div>

<h1>Parent Component</h1>
<!-- <app-child [loggedIn]="userLoggedIn"></app-child> -->
<div>
  <button (click)="userLoggedIn=true">Login</button>
  <button (click)="userLoggedIn=false">Logout</button>
  {{userLoggedIn}}
</div>
<app-child #child [loggedIn] = "userLoggedIn" (greetEvent)="NewGreet($event)"></app-child>
{{child.name}}
<button (click)="child.greetRavi()">Greet</button>
<br><h2>Teacher</h2>
<button (click)="greetStudent()">Greet Student</button>
<button (click)="appreciateStudent()">Appreciate Student</button>